* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.back {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
}

.add-filter {
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(15px);
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  animation-play-state: paused;
  animation-duration: 2s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* left side */
.left {
  width: 25%;
  height: 100%;
  color: white;
}

/* user-info */
.user-info {
  border-width: 0;
  border-color: black;
  border-style: solid;
  margin-top: 10%;
  width: 100%;
  height: 25%;
  text-align: center;
}

.user-info-photo {
  margin: 0;
  padding: 0;
  text-align: center;
}

.user-info-title {
  text-align: center;
  padding: 5px;
}

.user-info-photo > a > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-info-name {
  font-size: 20px;
}

.user-info-content {
  font-family: Lobster, sans-serif;
  line-height: 1em;
  font-size: 12px;
}

.user-info-content > span {
  font-weight: bold;
  font-size: 18px;
}

/*App links*/
.link-app-link {
  width: 100%;
  height: 100%;
  margin-top: 25%;
  border-width: 0;
  border-color: black;
  border-style: solid;
}

.link-app-link > h2 {
  color: white;
  margin: 0 30% 2% 30%;
  font-size: medium;
}

.link-smaller-img {
  width: 50%;
  padding: 15px 0 10px 0;
}

.link-title {
  color: white;
  text-align: center;
  margin: 5% 0 2% 0%;
}

.link-box-left {
  text-align: center;
  width: 20%;
  display: inline-table;
  margin: 1% 5% 1% 26%;
}

.link-icon-text {
  color: white;
  font-size: 12px;
}

.link-box-right {
  text-align: center;
  width: 20%;
  display: inline-table;
  margin: 1% 0% 1% 0%;
}

.left-row {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*end of left side*/

/* media */
@media screen and (max-width: 1000px) {
  .user-info {
    width: 100%;
    height: 25%;
    text-align: center;
  }

  .user-info-photo {
    margin-top: 5%;
  }

  .user-info-title {
    text-align: center;
    padding: 5px;
    font-size: 0;
  }

  .user-info-photo > a > img {
    width: 35%;
    height: 35%;
    border-radius: 50%;
  }

  .user-info-name {
    font-size: 0;
  }

  .user-info-content {
    font-family: Lobster, sans-serif;
    line-height: 1em;
    font-size: 0;
  }

  .user-info-content > span {
    font-weight: bold;
    font-size: 0;
  }

  .link-app-link {
    margin-top: 20%;
    text-align: center;
  }

  .link-app-link > h2 {
    color: white;
    margin: 0 30% 2% 30%;
    font-size: 0;
  }

  .link-smaller-img {
    width: 100%;
    padding: 0 0 20% 0;
  }

  .link-box-left {
    text-align: center;
    width: 20%;
    display: inline-table;
    margin: 0% 15% 5% 15%;
  }

  .link-icon-text {
    color: white;
    font-size: 0;
  }

  .link-box-right {
    text-align: center;
    width: 20%;
    display: inline-table;
    margin: 0% 15% 5% 15%;
  }
}

/* end of media*/

/* right side */
.right {
  width: 75%;
  background-color: white;
  overflow: auto;
}

/* head-box */
.head-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 60%;
  padding: 20px 40px 0 20px;
}

.head-box-title {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.head-box-time {
  font-size: small;
  font-family: sans-serif;
  color: rgb(92, 86, 86);
}

.head-box-text {
  font-size: medium;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 10px;
  margin-right: 10%;
  box-sizing: border-box;
}

.head-box-url {
  width: 100%;
  margin-bottom: 10px;
}

.head-box-urltext {
  font-size: small;
  font-family: sans-serif;
  text-decoration: none;
  color: #0890eb;
}

.head-box-image {
  height: 75%;
  width: 90%;
}

.head-box-img {
  width: 100%;
  height: 100%;
}

/* Stories */
.stories {
  font-family: sans-serif;
  padding: 2% 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.story-row {
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 210px;
}

.story-pic {
  height: 95%;
}

.story-pic > img {
  width: 200px;
  height: 100%;
}

.story-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-subtitle {
  color: rgb(92, 86, 86);
  font-size: small;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-info {
  padding: 0 20px 20px 20px;
  height: 200px;
  box-sizing: border-box;
}

.story-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-link {
  margin-top: 40px;
  text-decoration: none;
}

