* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.back {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
}

.add-filter {
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(15px);
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  animation-play-state: paused;
  animation-duration: 2s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* left side */
.left {
  width: 40%;
  color: white;
}


.left > h2 {
  text-align: center;
  padding: 5px;
}

/* user-info */
.user-info {
  width: 100%;
  height: 30%;
}

.user-photo {
  margin-top: 25%;
  text-align: center;
}

.user-photo > a > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-content {
  text-align: center;
  line-height: 2em;
  font-size: 14px;

}

.user-content > span {
  font-weight: bold;
  font-size: 18px;
}

/*App links*/

.link-app-link {
  width: 77%;
  height: 60%;
  margin-top: 10%;
}

.link-smaller-img {
  width: 90%;
  padding: 15px 0 10px 0;
}

.link-box-left {
  text-align: center;
  width: 20%;
  display: inline-table;
  margin: 1% 5% 1% 36%;
}

.link-icon-text {
  color: white;
}

.link-box-right {
  text-align: center;
  width: 20%;
  display: inline-table;
  margin: 1% 0 1% 5%;
}

/*end of left side*/

/* right side */
.right {
  width: 60%;
  background-color: white;
  overflow: auto;
}

/* head-box */
.head-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 40%;
  padding: 20px 40px 20px 20px;
}

.head-box-title {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.head-box-time {
  font-size: small;
  font-family: sans-serif;
  color: rgb(92, 86, 86);
}

.head-box-text {
  font-size: medium;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 10px;
  margin-right: 10%;
  box-sizing: border-box;
}

.head-box-url {
  width: 100%;
  height: 10%;
}

.head-box-urltext {
  font-size: small;
  font-family: sans-serif;
  text-decoration: none;
  color: #0890eb;
}

.head-box-image {
  height: 60%;
  width: 90%;
}

.head-box-img {
  width: 100%;
  height: 100%;
}

/* Stories */
.stories {
  font-family: sans-serif;
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.story-row {
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 210px;
}

.story-pic {
  height: 95%;
}

.story-pic > img {
  width: 200px;
  height: 100%;
}

.story-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-subtitle {
  color: rgb(92, 86, 86);
  font-size: small;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-info {
  padding: 0 20px 20px 20px;
  height: 200px;
  box-sizing: border-box;
}

.story-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.story-link {
  margin-top: 60px;
  text-decoration: none;
}

