* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

/* left side */
.left {
  width: 40%;
  color: white;
}

h2 {
  text-align: center;
  padding: 5px;
}

/* user-info */
.user-info {
  width: 100%;
  height: 30%;
}

.user-photo {
  margin-top: 25%;
  text-align: center;
}

.user-photo > a > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-content {
  text-align: center;
  line-height: 2em;
  font-size: 14px;

}

.user-content > span {
  font-weight: bold;
  font-size: 18px;
}

/*App links*/

.link-app-link {
  width: 77%;
  height: 60%;
  margin-top: 10%;
}

.link-smaller-img {
  width: 90%;
  padding: 15px 0x 10px 0;
}
.link-box-left {
  text-align: center;
  width: 20%;
  display: inline-table;
  margin: 1% 5% 1% 36%;
}

.link-icon-text {
color: white;
}

.link-box-right {
text-align: center;
width: 20%;
display: inline-table;
margin: 1% 0% 1% 5%;
}

/*end of left side*/

/* right side */
.right {
  background-color: white;
  overflow: auto;
}

/* head-box */
.head-box {
  width: 100%;
  height: 40%;
  padding: 20px;
}

.head-box-title {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.head-box-time {
  font-size: 10px;
  font-family: sans-serif;
  color: rgb(92, 86, 86);
}

.head-box-text {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1;
}

.head-box-url {
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: #0890eb;
}

.head-box > img {
  height: 80%;
  width: 90%;
}

/* Stories */
.stories {
  padding: 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.story-row {
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 210px;
}

.story-pic {
  width: 200px;
  height: 200px;
}

.story-info {
  padding: 20px;
  height: 200px;
  box-sizing: border-box;
}

.story-link {
  margin-top: 20px;
}
