* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

/* left side */
.left {
  width: 40%;
}

/* user-info */
.user-info {
  width: 100%;
  height: 30%;
}


/* app-links */
.app-links {
  width: 100%;
}

/* right side */
.right {
  width: 60%;
  background-color: white;
  overflow: auto;
}

/* head-box */
.head-box {
  width: 100%;
  height: 40%;
}




